<div class="filter">
  <h1>Legislators</h1> <br/><input placeholder='Search List' ng-model="search"/>
</div>
<div class="container">
    <div class="ppl" ng-repeat="person in legislators | filter: search">

      <div ng-if="person.party == 'D'" class="dems" ui-sref="show({id: person.id})">
      <h3>{{person.first_name}} {{ }} {{person.last_name}}</h3>
      <p>Party: Democrat</p>
      <p>State: {{person.state}}</p>
      <p>District: {{person.district}}</p>
      <p>Chamber: {{person.chamber | uppercase}}</p>
    </div>

      <div ng-if="person.party == 'R'" class="reps" ui-sref="show({id: person.id})">
      <h3>{{person.first_name}} {{ }} {{person.last_name}}</h3>
      <p>Party: Republican</p>
      <p>State: {{person.state}}</p>
      <p>District: {{person.district}}</p>
      <p>Chamber: {{person.chamber | uppercase}}</p>
    </div>
    </div>
</div>
