<div class="legshow">
  <a ui-sref="index">
  <h4>Main Page</h4>
  </a>
  <div class="persn">
    <h1>{{legislator.legislator.first_name}} {{ }} {{legislator.legislator.last_name}}</h1>
    <p>{{legislator.legislator.chamber}}</p><p>{{legislator.legislator.party}}</p>
    <hr>
  </div>
    <h4>Keywords: <input type="text" label="Keyword" name="search" ng-model="billFilter"></h4>
  <div class="history" ng-repeat="obj in votes | filter: billFilter">
    <p>
      {{obj.vote}}
      <hr>
       {{obj.bill_title}}
    </p>
  </div>
</div>
