<div class="legshow">
  <a ui-sref="index">
  <h4>Main Page</h4>
  </a>
  <div class="persn">
    <h1>{{legislator.legislator.first_name}} {{ }} {{legislator.legislator.last_name}}</h1>
    <p>{{legislator.legislator.state}} - District: {{legislator.legislator.district}}</p>
    <p>{{legislator.legislator.chamber | uppercase}}</p><p ng-if="legislator.legislator.party == 'R'">Republican</p><p ng-if="legislator.legislator.party == 'D'">Democrat</p>
    <hr>
  </div>
    <h4>Keywords: <input type="text" label="Keyword" name="search" ng-model="billFilter"></h4>
  <div class="history" ng-repeat="obj in votes | filter: billFilter">
    <p>
      {{obj.vote}}
      <hr>
      <p>
        {{obj.bill_title}}
      </p>
    </p>
  </div>
</div>
