@import 'https://fonts.googleapis.com/css?family=Raleway';


body{
  width: 100%;
  height: 100%;
  font-family: Raleway;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /*background: #fff;*/
  /*background: url('papyrus.png') fixed;*/
  background-repeat: no-repeat;
  background-size: cover;
}
header{
  top: 0;
  z-index: -500;
  width: 95%;
  height: 30vw;
  font-size: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  /*border-radius: 15px;*/
  background: url('CAPITOL-DOME-FLAG.jpg') fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
a {
  text-decoration: none;
  color: inherit;
}
a:visited{
  color: inherit;
}
.container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.mainPageText{
  position: absolute;
  width: 80%;
  /*border: .5px outset #d9edf7;*/
  left: 10%;
  margin-top: 10em;
  padding: 2%;
  /*border-radius: 15px;*/
  /*box-shadow: 0 2px 50px 5px black;*/
  color: black;
  text-align: center;
}
.mainPageText img{
  border-radius: 50%;
  /*box-shadow: 0 2px 35px 5px black;*/
}
.mainPageText button{
  /*width: 20%;*/
  height: 2em;
  background: linear-gradient(to top, green,white);
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px 1px black;
  font-size: 2em;
}
.mainPageText button:hover{
  box-shadow: none ;
  background: #57AB57;
  color: white;
  border: .5px solid white;
}
.reps{
  color: maroon;
}
.dems{
  color: navy;
}
.ppl{
  padding: 2%;
  margin: 2%;

}
.ppl:hover{
  border: .5px inset #d9edf7;
  cursor: pointer;
}

.legshow{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.persn {
  width: 85%;
  text-align: center;
}

.history{
  width: 90%;
  border: 4px inset #ccc;
  /*box-shadow: 0px 20px 10px 2px black;*/
  /*border-radius: 15px;*/
  color: #000;
  /*background-color: rgba(158, 158,158,0.5);*/
  margin: 4%;
  padding: 2%;
}

.history p{
  font-size: 26px;
}
.hrp{
  font-size: 26px;
}
