@import 'https://fonts.googleapis.com/css?family=Raleway';

body{
  font-family: Raleway;
}

header{
  background: url('CAPITOL-DOME-FLAG.jpg') fixed;
  font-size: 3em;
  color: white;
}
/*a{
  text-decoration: none;
}
a:link{
  text-decoration: none;
  color: inherit;
}*/


.dems:hover{
  cursor: pointer;
}

.reps:hover{
  cursor: pointer;
}
